<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Exotic Car Rentals</title>
<link rel="stylesheet" type="text/css" href="/CSS/style.css" />
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body class="adminPage">
	<nav>
		<div>
			<a href="/" th:href="@{/}" class="logo">EXOTIC CAR RENTALS</a>
		</div>
		<div class="nav-content">
			<div sec:authorize="!isAuthenticated()">
				<a href="/login" th:href="@{/login}">Account</a>
			</div>
			<div sec:authorize="isAuthenticated()" class="dropdown">
				<i class='fas fa-user' style='color: #eee'></i><span
					sec:authentication="name" class="dropbtn"></span> <span
					class="dropdown-content"> <a href="#" th:href="@{/logout}"
					class="button">Logout</a>
				</span>
			</div>
			<div>
				<a href="/ContactUs" th:href="@{/ContactUs}">Contact Us</a>
			</div>
		</div>
	</nav>
	<div class="card">
		<form action="#" th:action="@{/modifyCustomerAdmin}" th:object="${customer}">
			<h1><span th:text="*{fName}" class="logo"></span><span th:text="*{lName}" class="logo"></span></h1><br><br>
			<input type="hidden" th:field="*{id}" />
			<p> First Name : <input type="text" th:field="*{fName}" /></p> 
			<p> Last Name : <input type="text" th:field="*{lName}" /></p> 
			<p> Address : <input type="text" th:field="*{address}" /><br></p>
			<p> Phone Number : <input type="number" th:field="*{phoneNumber}" /></p>
			<p> User name : <input type="text" th:field="*{username}" /></p> 
			<p> Enabled : <input type="number" th:field="*{enabled}" /></p> 
			<input type="hidden" th:field="*{encryptedPassword}">
			<input type="submit" value="Save Changes"  class="button" />
		</form>
		<a href="/admin"><button class="button">Cancel</button></a>
	</div>
</body>
</html>