@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
	box-sizing: box-border;
}


/* --- Body --- */
body{
	font-family: 'Raleway', sans-serif;
}

/* --- Navigation Bar --- */
nav {
	padding: 10px;
	display: flex;
	justify-content: space-around;
	position: fixed;
	width: 100vw;
	top:0;
	background:linear-gradient(90deg, #f1c40f 30%, #000 30%);
	z-index: 1;
}
.bg-black{
	background: #000;
}

.nav-content {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-content div {
	margin: 0 25px;
}
.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	text-decoration: none;
	display: block;
	text-align: left;
	border: 1px solid #111;
	border-radius: 5px;
	padding: 5px 10px;
	font-weight: bold;
	color: #333;
	transition: 400ms;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* --- Links --- */
a {
	color: white;
	text-decoration: none;
}

/* --- Logo --- */
.logo{
	text-align: center;
	color: #f1c40f;
	font-size: 40px;
	text-shadow: 5px 5px 10px #000;
	font-family: 'Work Sans', sans-serif;
	font-style:italic;
	font-weight: bold;
}
nav .logo{
	background-color: #f1c40f;
	color: #fff;
	padding: 11px 50px;
}

/* --- Header --- */
header, .LoginPage, .RegisterPage, .accessDeniedPage, .adminPage{
	background-size: cover;
    transform-origin: center center;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
    position: relative;
    background-attachment: fixed;
}
.homepage{
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/Images/Hero.jpg');
}
.bookpage{
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/Images/LbPerformance.jpg');
}
.LoginPage{
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/Images/MclarenFront.jpg');
	height: 100vh;
}
.RegisterPage{
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/Images/MclarenOnTrack.jpg');
	height: 100vh;
}
.accessDeniedPage{
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/Images/PoliceChase.jpg');
	height: 100vh;
}
.adminPage{
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/Images/admin.jpg');
	height: 100vh;
}


.bookingForm{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 150px;
    padding: 30px;
	color: #fff;
	background-color: rgba(0,0,0,0.85);
	
}


/* --- Input | Select Fields --- */
input, select, .button{
	background: #fff;
	font-family: 'Raleway', sans-serif;
	padding: 0 10px;
	margin: 2px 0;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	height: 37px;
	transition: 300ms ease;
}
.button:hover {
	background: #333;
	box-shadow: 2px 2px 7px #000;
	transform: scale(1.1);
	color: #fff;
}

.row{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.card {
	border: 1px solid #222;
	padding: 50px;
	width: 400px;
	margin: 50px auto;
	color: #fff;
	background: rgba(0, 0, 0, 0.85);
	line-height: 150%;
	font-size: 20px;
}

/* --- Error | Warnings --- */
.error {
	color: red;
	text-shadow: 1px 1px 15px red;
}

.attention {
	color: blue;
	text-shadow: 1px 1px 15px blue;
}

/* --- Table View --- */
.tableView {
	margin: 150px auto;
	width: 900px;
}
table {
	white-space: no-wrap;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #aaa;
	text-align: center;
	background-color: rgba(255,255,255,0.85);
}

table th, table td {
	padding: 5px 10px;
	border: 1px solid #aaa;
}

table th {
	background-color: #121212;
	color:#fff;
	padding: 10px;
}